:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-primary-grey: #999999ff;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-color-primary-tomato: #ff6157ff;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-primary-charcoalgrey: #36384eff;
  --dl-color-primary-darkslategrey: #252e41;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.newsletter-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-darkslategrey);
}
.newsletter-container1 {
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 900px;
  align-items: center;
  border-radius: 24px;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.newsletter-banner-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.newsletter-image {
  width: auto;
  max-height: 600px;
  object-fit: cover;
}
.newsletter-image1 {
  display: none;
}
.newsletter-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.newsletter-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.newsletter-title {
  color: var(--dl-color-primary-darkslategrey);
  font-size: 3.4em;
  font-family: "Roboto";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.newsletter-description {
  font-size: 16px;
  font-family: "Roboto";
}
.newsletter-list-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.newsletter-container4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
}
.newsletter-check-icon {
  width: 16px;
  object-fit: cover;
}
.newsletter-text {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Roboto";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.newsletter-container5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
}
.newsletter-image2 {
  width: 16px;
  object-fit: cover;
}
.newsletter-text1 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Roboto";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.newsletter-container6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
}
.newsletter-image3 {
  width: 16px;
  object-fit: cover;
}
.newsletter-text2 {
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Roboto";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.newsletter-container7 {
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.newsletter-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.newsletter-label1 {
  display: none;
  color: var(--dl-color-primary-tomato);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.newsletter-textinput {
  padding: var(--dl-space-space-unit);
  font-size: 16px;
  align-self: stretch;
  transition: 0.3s;
  font-family: "Roboto";
  border-color: var(--dl-color-primary-grey);
}
.newsletter-textinput-wrong {
  padding: var(--dl-space-space-unit);
  font-size: 16px;
  align-self: stretch;
  transition: 0.3s;
  font-family: "Roboto";
  border-color: var(--dl-color-primary-tomato);
  color: var(--dl-color-primary-tomato);
  background-color: hsl(4, 100%, 67%, 0.3);
}
.newsletter-textinput:focus {
  border-color: var(--dl-color-gray-black);
}
.newsletter-button {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: var(--dl-space-space-unit);
  font-size: 16px;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-primary-darkslategrey);
}
.newsletter-button:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: var(--dl-color-primary-tomato);
}
.newsletter-button:active {
  background-color: var(--dl-color-primary-tomato);
}
@media (max-width: 700px) {
  .newsletter-container1 {
    flex: 1;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .newsletter-banner-container {
    width: auto;
    align-self: stretch;
    align-items: center;
  }
  .newsletter-image {
    display: none;
  }
  .newsletter-image1 {
    width: auto;
    display: flex;
    align-self: stretch;
  }
  .newsletter-container2 {
    flex: 1;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: flex-start;
    margin-right: 0px;
  }
  .newsletter-container3 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .newsletter-title {
    font-size: 2em;
    align-self: stretch;
    margin-bottom: var(--dl-space-space-unit);
  }
  .newsletter-description {
    font-size: 14px;
    align-self: stretch;
  }
  .newsletter-list-container {
    align-self: stretch;
    margin-bottom: var(--dl-space-space-unit);
  }
  .newsletter-container4 {
    align-self: stretch;
    flex-direction: row;
  }
  .newsletter-check-icon {
    width: 20px;
  }
  .newsletter-text {
    font-size: 14px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .newsletter-container5 {
    align-self: stretch;
    flex-direction: row;
  }
  .newsletter-image2 {
    width: 20px;
  }
  .newsletter-text1 {
    font-size: 14px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .newsletter-container6 {
    align-self: stretch;
    flex-direction: row;
  }
  .newsletter-image3 {
    width: 20px;
  }
  .newsletter-text2 {
    font-size: 14px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .newsletter-container7 {
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .newsletter-label {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .newsletter-label1 {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .newsletter-textinput {
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
  .newsletter-button {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    background-color: hsl(234, 29%, 20%);
  }
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-darkslategrey);
}
.page-container1 {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.page-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.page-image {
  width: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.page-text {
  color: var(--dl-color-primary-darkslategrey);
  font-size: 3.5em;
  font-family: "Roboto";
  margin-bottom: var(--dl-space-space-unit);
}
.page-text3 {
  font-family: "Roboto";
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unit);
}
.page-text5 {
  color: var(--dl-color-primary-darkslategrey);
  font-weight: 700;
}
.page-button {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: var(--dl-space-space-unit);
  font-size: 16px;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-primary-darkslategrey);
}
.page-button:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: var(--dl-color-primary-tomato);
}
.page-button:active {
  background-color: var(--dl-color-primary-tomato);
}
@media (max-width: 700px) {
  .page-container1 {
    flex: 1;
    width: auto;
    height: auto;
    margin: 0;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    justify-content: space-between;
  }
  .page-container2 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .page-text {
    color: var(--dl-color-primary-darkslategrey);
    font-size: 2.5em;
    font-family: Roboto;
  }
  .page-text3 {
    align-self: stretch;
  }
  .page-button {
    color: var(--dl-color-gray-white);
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    background-color: hsl(234, 29%, 20%);
  }
}
